<footer id="footer"  class="text-center" style="background-image: url({{@blog.cover}})" >
    <div class="container">
        <ul class="social-icons">
        	<li>
        	 	<a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="icon-facebook"></i>
                </a>
            </li>
            <li>
                <a  href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <i class="icon-google-plus"></i>
                </a>
            </li>
        </ul>
        <p class="copy-text">
        	All content copyright
        	<a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.
        </p>
    </div>
</footer>