{{!< default}}

<main class="site-main" role="main">
    {{#post}}
    <article class="{{post_class}} post-full" id="post-{{id}}">
        <div class="wrapper">
            <header class="post-header">
                <h1 class="post-title">{{{title}}}</h1>
            </header>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format='MMMM D, YYYY'}}</time>
            {{content}}

            {{#if author}}
            <aside class="author">
                {{#if author.image}}<img alt="" class="author-image" src="{{author.image}}">{{/if}}

                <h2 class="author-name">{{#if author.website}}<a class="author-website" href="{{author.website}}">{{/if}}{{author.name}}{{#if author.website}}</a>{{/if}}</h2>

                <p class="author-bio">{{author.bio}}</p>
            </aside>
            {{/if}}
        </div>
    </article>
    {{/post}}
</main>